@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}
body{
    background-color: white;
    padding: 0;
    margin: 0;
}
nav{
    background-color: lightgray;
    overflow: hidden;
    padding: 0 5vw;
}
nav a{
    float: right;
    display: block;
    padding: 0.8vw 2vw;
    font-family: 'iransans';
    font-size: 1.4vw;
    color: darkblue;
    text-decoration: none;
}
nav a:hover{
    background-color: lightblue;
}
header img{
    width: 100%;
}

form{
    display: block;
    width: 60%;
    margin: 3vw auto;
    padding: 2vw;
    background-color: white;
    box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
    direction: rtl;
}
form label{
    display: block;
    font-family: 'iransans';
    font-size: 1.2vw;
}
form input{
    display: block;
    font-family: 'iransans';
    font-size: 1.2vw;
    width: 100%;
}
form a.link{
    font-family: 'iransans';
    font-size: 1.2vw;
    display: block;
    width: fit-content;
    margin: 1vw 0;
    text-decoration: none;
}
form a.link:hover{
    color: chocolate;
}
form button{
    background-color: rgb(71, 128, 212);
    padding: 0.5vw 2vw;
    color: white;
    border: none;
    font-family: 'iransans';
    font-size: 1.2vw;
    cursor: pointer;
}
form button:hover{
    background-color: chocolate;
}

.error{
    background-color: coral;
    width: 55%;
    margin: 2vw auto;
    border-radius: 1vw;
    color: white;
    padding: 1vw 3vw;
    text-align: right;
    direction: rtl;
    font-family: 'iransans';
    font-size: 1.2vw;
    font-weight: bold;
}

.success{
    background-color: rgb(108, 223, 108);
    width: 55%;
    margin: 2vw auto;
    border-radius: 1vw;
    color: white;
    padding: 1vw 3vw;
    text-align: right;
    direction: rtl;
    font-family: 'iransans';
    font-size: 1.2vw;
    font-weight: bold;
}
.gallery-container{
    overflow: hidden;
    width: 90%;
    margin: 1vw auto;
    text-align: center;
}
.gallery-container img{
    height: 10vw;
    margin: 0.5vw;
    border: transparent 0.2vw solid;
    box-shadow: none;
    transition-duration: 500ms;
    cursor: pointer;
}
.gallery-container img:hover{
    border: darkblue 0.2vw solid;
    box-shadow: 0 0 0.5vw 0.3vw rgba(0, 0, 0, 0.2);
}
.black-modal{
    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
}
.img-popup{
    position: fixed;
    top: 5vw;
    right: 15%;
    width: 70%;
    z-index: 11;
    display: none;
}
.img-popup img{
    width: 100%;
    display: block;
    border-radius: 0.8vw;
}

.img-popup a{
    text-decoration: none;
    color: white;
}
.img-popup a i.heart-o{
    color: white;
    font-size: 2vw;
}
.img-popup a i.heart{
    color: red;
    font-size: 2vw;
    display: none;
}
.img-popup a:hover i.heart{display: block;}
.img-popup a:hover i.heart-o{display: none;}
.img-popup a{
    display: block;
    overflow: hidden;
}
.img-popup a i{
    display: block;
    float: left;
    padding: 0 0.8vw;
}
.img-popup .num{
    display: block;
    float: left;
    font-family: 'iransans';

    font-size: 1.2vw;
}
.img-popup a i.liked{
    display: block;
}